# Exclude directories
tests/
input/
output/

# include specific files from input/
!tests/2_faults_austin.csv
!tests/monthly_fsp_injection_3_wells.csv

# Exclude file types
*.png
*.csv
*.json
*.mat
*.m

# CSVs allowed to be committed
!2_faults_austin.csv
!monthly_fsp_injection_3_wells.csv



# Additional common exclusions (optional but recommended)
*.log                 # Log files
*.tmp                 # Temporary files
*.bak                 # Backup files
.DS_Store             # macOS-specific files